<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
<H1>Book</H1>

<div class="container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Author</th>
            <th>In Stock</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${book.title}">Title</td>
            <td th:text="${book.bookCategoryType}">Category</td>
            <td th:text="${book.author}">Author</td>
            <td th:text="${book.inStock}">In Stock</td>
            <td th:text="${book.price}">Price</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>